{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 23, "knowledge_revision": 47, "git_revision": "", "hash": "d5e6d88f506f12dc2b3ed36ed9c47d37", "format-version": 4, "code-base-name": "default", "filename": "notes_backend_workspace/notes_backend/requirements.txt", "revision_history": [{"47": ""}]}